<div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="editTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div id="edit-modal-content">
                <!-- El contenido del modal se cargará dinámicamente -->
            </div>
        </div>
    </div>
</div> 